
<div class="month">      
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <li>
        August<br>
        <span style="font-size:18px">2017</span>
      </li>
    </ul>
  </div>
  
  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>
  
  <!--<ul class="days">  
    <li><input type="text" id="1" placeholder="1" click() contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="2" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="3" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="4" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="5" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="6" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="7" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="9" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="10" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><span class="active"><input type="text" id="11" placeholder="1" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></span></li>
    <li><input type="text" id="1" placeholder="12" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="13" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="14"contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="15" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="16" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="17" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="18" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="19" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="20" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="21" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="22" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="23" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="24" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="25" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><span class="active"><input type="text" id="26" placeholder="1" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></span></li>
    <li><input type="text" id="1" placeholder="27" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="28" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="29" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="30" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
    <li><input type="text" id="1" placeholder="31" contenteditable="true" maxlength="2"  style="width: 70px ; height: 25px"></li>
  </ul> -->
    
